<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.utbm.localisationapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
            <activity
            android:name="fr.utbm.localisationapp.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.utbm.localisationapp.PrefsActivity"
            android:label="@string/settings"
            android:parentActivityName="fr.utbm.localisationapp.WelcomeActivity"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="fr.utbm.localisationapp.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />

                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="fr.utbm.localisationapp.WelcomeActivity" />
            </intent-filter>
        </activity>
          <activity
            android:name="fr.utbm.localisationapp.LocalisationActivity"
            android:label="@string/act_localisation"
            android:parentActivityName="fr.utbm.localisationapp.WelcomeActivity"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="fr.utbm.localisationapp.LOCALISATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.utbm.localisationapp.WelcomeActivity" />
        </activity>
    </application>
    
    


</manifest>
